USE [CCIS_ImportData]
GO
/****** Object:  Table [dbo].[RegionMapping]    Script Date: 2019/01/28 19:47:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RegionMapping](
	[OldRegionId] [int] NOT NULL,
	[NewRegionId] [int] NOT NULL
) ON [PRIMARY]
GO
INSERT [dbo].[RegionMapping] ([OldRegionId], [NewRegionId]) VALUES (29, 80)
INSERT [dbo].[RegionMapping] ([OldRegionId], [NewRegionId]) VALUES (29, 80)
INSERT [dbo].[RegionMapping] ([OldRegionId], [NewRegionId]) VALUES (29, 80)
